<robot  name="elbow_flex_link">
  <link name="elbow_flex_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.1279 0.0073 0.0000" />
      <mass value="2.1299" />
      <inertia ixx="0.0024" ixy="-0.0016" ixz="0.0" iyy="0.0082" iyz="-0.0" izz="0.0084" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fetch_description/meshes/elbow_flex_link.obj" />
      </geometry>
      <material name="">
        <color rgba="0.086 0.506 0.767 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fetch_description/meshes/elbow_flex_link_collision.STL" />
      </geometry>
    </collision>
  </link>
</robot>