<robot name="shoulder_pan_link">
<link name="shoulder_pan_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0927 -0.0056 0.0564" />
      <mass value="2.5587" />
      <inertia ixx="0.0043" ixy="-0.0001" ixz="0.001" iyy="0.0087" iyz="-0.0001" izz="0.0087" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fetch_description/meshes/shoulder_pan_link.obj" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fetch_description/meshes/shoulder_pan_link_collision.STL" />
      </geometry>
    </collision>
  </link>
</robot>
