<robot name="shoulder_lift_link">
<link name="shoulder_lift_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.1432 0.0072 -0.0001" />
      <mass value="2.6615" />
      <inertia ixx="0.0028" ixy="-0.0021" ixz="-0.0" iyy="0.0111" iyz="-0.0" izz="0.0112" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fetch_description/meshes/shoulder_lift_link.obj" />
      </geometry>
      <material name="">
        <color rgba="0.086 0.506 0.767 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fetch_description/meshes/shoulder_lift_link_collision.STL" />
      </geometry>
    </collision>
  </link>
</robot>