<robot name="torso_lift_link">
<link name="torso_lift_link">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.0013 -0.0009 0.2935" />
      <mass value="10.7796" />
      <inertia ixx="0.3354" ixy="0.0" ixz="-0.0162" iyy="0.3354" iyz="-0.0006" izz="0.0954" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fetch_description/meshes/torso_lift_link.obj" />
      </geometry>
      <material name="">
        <color rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fetch_description/meshes/torso_lift_link_collision.STL" />
      </geometry>
    </collision>
  </link>
</robot>
