<robot name="wrist_flex_link">  
  <link name="wrist_flex_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0.0882 0.0009 -0.0001" />
      <mass value="1.725" />
      <inertia ixx="0.0018" ixy="-0.0001" ixz="-0.0" iyy="0.0042" iyz="0.0" izz="0.0042" />
    </inertial>
    <visual>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fetch_description/meshes/wrist_flex_link.obj" />
      </geometry>
      <material name="">
        <color rgba="0.086 0.506 0.767 1" />
      </material>
    </visual>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0" />
      <geometry>
        <mesh filename="package://fetch_description/meshes/wrist_flex_link_collision.STL" />
      </geometry>
    </collision>
  </link>
</robot>